{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'About' %} | {% trans 'Parranda industry ' %}{% endblock title %}
{% block og_title %} {% trans 'About' %} {% endblock og_title %}

{% block content %}
<section id="home" class="home d-flex justify-content-center align-items-end" style="background-image: url('{{ about.main_image.url }}');">
</section>

    <section class="about-detail">
        <div class="container">
                <div class="about-detail__img"
                     style="background-image:url('{{ about.main_image.url }}' ); background-repeat: no-repeat; background-size: cover;background-position:center center;"></div>
                <div class="about-detail__content">
                <div class="news-detail__title">
                    <h3>{{ about.title }}</h3>
                    <div class="news-detail__title__line"></div>
                </div>

                <div class="about-detail__description">
                    <p>{{ about.description|safe}}</p>
                </div>
            </div>

        </div>
    </section>

{% endblock content %}