{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}


<!-- Section About -->
<section id="about" class="about">
            <div class="container">
                <div class="about-title d-flex justify-content-center align-items-center flex-column" data-aos="fade-up">
                    <h2 class="section-title">{% trans 'ABOUT THE ASSOCIATION' %}</h2>
                    <div class="underline"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-img" id="tilt" style="background-image: url('{% static "img/banner.jpg" %}');"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-content" data-aos="fade-left">

{#                            {% if about.title %}#}
{#                                <h3 class="about-content__title">{{ about.title }}</h3>#}
{#                            {% else %}#}
{#                            {% endif %}#}

                            <p>{{ about.description|safe|truncatewords_html:30 }}</p>
                            <div><a href="{% url 'main:about _url' LANGUAGE_CODE %}" class="btn-main-over">{% trans 'Read more' %}<i class="fas fa-arrow-right ml-2"></i></a></div>
                            <img src="{% static 'img/egg.png' %}" alt="" width="50px" height="auto" class="egg-el">
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- END About -->