{% load static %}
<!-- Section Article -->

<section class="article" style="background-image: url({{ site_settings.home_page_quote_1_bg.url }});" data-aos="zoom-in">
    <div class="article-bg">
        <div class="container">
            <div class="article-content text-center">
                <h1 class="text-center mb-4">{{ site_settings.home_page_quote_1 }}</h1>

                {% if site_settings.home_page_quote_small_text_1 %}
                    <small class="text-center">{{ site_settings.home_page_quote_small_text_1 }}</small>
                {% else %}

                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- END Article -->
