{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Section Banner -->
<section id="home-page" class="home-page d-flex justify-content-center align-items-center" style="background-image: url('{{ site_settings.home_page_header_bg.url }}'); padding: 0!important;">
    <div class="home-page_bg">
            <div class="container">
        <div class="home-title text-center">
            <h1>{% trans 'Poultry is one of the seven treasures' %}</h1>
{#            <h2>{% trans 'Parranda Sanoat' %}</h2>#}
            <button class="btn-main mt-3"><a href="{% url 'main:about _url' LANGUAGE_CODE %}">{% trans 'Read more' %}</a></button>
        </div>
    </div>
    </div>
</section>
<!-- END Banner -->