{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}


<section id="contact" class="contact">
    <div class="container">
        <div class="contact-title" data-aos="faed-up">
            <h2 class="section-title">{% trans 'FEEDBACK' %}</h2>
            <div class="underline"></div>

            {% if messages %}
                <ul class="messages list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
        <div class="contact-content">
            <div class="row">
                <div class="col-md-6" data-aos="fade-right">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1360.6419374367883!2d69.28058029949071!3d41.30401869102636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x54280a376b39e59d!2sUzParranda!5e0!3m2!1sen!2s!4v1614677899754!5m2!1sen!2s"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="col-md-6" data-aos="fade-left">
                    <form class="res-contact-form" action="{% url 'main:home_contact' LANGUAGE_CODE %}" method="POST">
                        {% csrf_token %}
                        <div class="d-flex flex-column align-items-center justify-content-center">
{#                            <input type="text" class="contact-form" name="{{ form.fields.name.name }}" placeholder="{{ form.fields.name.label }}" required>#}
                            <input type="text" class="contact-form" name="name" placeholder="{{ form.fields.name.widget.attrs.placeholder }}" required>
                            <input type="text" class="contact-form" name="email" placeholder="{{ form.fields.email.widget.attrs.placeholder }}" required>
                            <input type="text" class="contact-form mb-5" name="phone" placeholder="{{ form.fields.phone.widget.attrs.placeholder }}"
                                   required>
                            <input type="text" class="contact-form" name="theme" placeholder="{{ form.fields.theme.widget.attrs.placeholder }}" required>
                            <textarea id="" cols="30" rows="10" name="message" class="contact-form"
                                      placeholder="{{ form.fields.message.widget.attrs.placeholder }}" required></textarea>
                            <button type="submit" class="btn-main form-btn text-center" style=" margin-top: 32px;">
                                {% trans 'Submit' %}
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact -->