{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!--Section Gallery -->
<section id="gallery" class="gallery">
    <div class="container">
        <div class="gallery-title" data-aos="fade-up">
            <h2 class="section-title">{% trans 'GALLERY' %}</h2>
            <div class="underline"></div>
        </div>
        <div class="gallery-content">
            <div class="row">
                {% for gallery in galleries %}
                    <div class="col-md-4" data-aos="fade-right">
                        <div class="photo" style="background-image: url('{{ gallery.image.url }}');
                                ">
                            <a href="{% url 'main:gallery_detail_url' LANGUAGE_CODE gallery.id %}"
                               class="photo-area">{{ gallery.title }}
                            </a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center mt-5"><a href="{% url 'main:gallery_url' LANGUAGE_CODE %}"
                                         class="btn-main">{% trans 'Read more' %}<i class="fas fa-arrow-right ml-2"></i></a>
        </div>
    </div>
</section>


<!--End Gallery -->