{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}


<!-- Section News -->
<section id="news" class="news">
    <div class="container">
        <div class="news-title d-flex justify-content-center align-items-center flex-column" data-aos="fade-up">
            <h2 class="section-title">{% trans 'News' %}</h2>
            <div class="underline"></div>
        </div>
        <div class="news-content row justify-content-around align-items-center">
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {% for new in news %}
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-img">
                                    <img src="{{ new.main_image.url }}" alt="" class="img-fluid card-img-top">

                                </div>
                                <div class="card-title">{{ new.title }}</div>
                                <p class="card-article">{{ new.description|safe|truncatechars:50 }}</p>
                                <span class="card-date">{{ new.created|date:"d M Y" }}</span>
                                <div><a href="{% url 'main:post_detail_url' LANGUAGE_CODE new.id %}"
                                        class="btn-main-over">{% trans 'Read more' %}<i
                                        class="fas fa-arrow-right ml-2"></i></a></div>
                                <img src="{% static 'img/egg.png' %}" alt="" width="50px" height="auto" class="egg-el">
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <!-- If we need pagination -->
                <!-- <div class="swiper-pagination"></div> -->

                <!-- If we need navigation buttons -->
                <!--                <div class="swiper-button-prev"></div>-->
                <!--                <div class="swiper-button-next"></div> -->
            </div>
        </div>

        <div class="text-center mt-5"><a href="{% url 'main:news_url' LANGUAGE_CODE %}"
                                         class="btn-main">{% trans 'All Post' %}<i
                class="fas fa-arrow-right ml-2"></i></a></div>
    </div>
</section>
<!-- END News -->
