{% load static i18n %}

<section id="partner" class="partner">
    <div class="container">
        <div class="partner-title" data-aos="fade-up">
            <h2 class="section-title">{% trans 'ASSOCIATION PARTNERS' %}</h2>
            <div class="underline"></div>
        </div>
        <div class="partner-content" data-aos="zoom-out">
            <div class="partner-swiper">
                <div class="swiper-wrapper">
                    {% for partner in partners %}
                        <div class="swiper-slide">
                            <a href="{{ partner.path }}">
                                <img src="{{ partner.image.url }}" alt="">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev button-swip"></div>
                <div class="swiper-button-next button-swip"></div>
            </div>
        </div>
    </div>
</section>
