{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Section Product -->
<section class="products" id="products">
    <div class="container">
        <div class="products-title d-flex justify-content-center align-items-center flex-column" data-aos="fade-up">
            <h2 class="section-title">{% trans 'PRODUCTS' %}</h2>
            <div class="underline"></div>
        </div>
        <div class="products-content position-relative">


            <div class="swiper-container" data-aos="flip-up">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">

                    {% for product in products %}
                    <!-- Slides -->
                    <div class="swiper-slide">
                            <div class="item text-center product-card">
                                <div class="card-hover">
                                    <img src="{{ product.main_image.url }}" class="image-products"
                                         alt="{{ product.title }}"/>
                                    <div class="info">
                                        <div class="item-title">{{ product.title }}</div>
                                        {% if product.description %}
                                            <div class="item-description">
                                                {{ product.description|safe|truncatechars:30 }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="mt-4"><a href="{% url 'main:product_detail_url' LANGUAGE_CODE product.id %}"
                                                     class="btn-main">{% trans 'Read more' %}<i
                                        class="fas fa-arrow-right ml-2"></i></a></div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>


            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>
<!--End Product -->
