{% load static i18n %}

<section id="site" class="site margin-0">
    <div class="container">
        <div class="site-title d-flex justify-content-center align-items-center flex-column" data-aos="fade-up">
            <h2 class="section-title">{% trans 'USEFUL SITES' %}</h2>
            <div class="underline"></div>
        </div>
        <div class="site-content row" data-aos="flip-up">

            {% for useful in useful_site %}
                <a href="{{ useful.link }}" class="site-item text-center">
                    <img src="{{ useful.image.url }}" alt="{{ useful.title }}" class="img-fluid site-img mb-3">
                    <div class="site-title">{{ useful.title }}</div>
                </a>
            {% endfor %}

        </div>
    </div>
</section>
