{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Section Video -->
<section id="vids" class="vids">
    <div class="container">
        <div class="vids-title" data-aos="fade-up">
            <h2 class="section-title">{% trans 'VIDEO' %}</h2>
            <div class="underline"></div>
        </div>

        <div class="vids-content" data-aos="zoom-in">
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">

                    {% for video in videos %}
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <iframe width="350" height="230" src="https://www.youtube.com/embed/{{ video.video }}"
                                    frameborder="0"
                                    allow="accelerometer;
                                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    {% endfor %}

                </div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        <div class="text-center mt-5">
            <a href="{% url 'main:video_url' LANGUAGE_CODE %}"
                                         class="btn-main">{% trans 'All videos' %}
                <i class="fas fa-arrow-right ml-2"></i>
            </a>
        </div>
    </div>
</section>
<!-- END Video -->