{% load static i18n simple_open_graph %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="LANGUAGE_CODE">
<head>
    <title>{% block title %}{% trans 'parranda industry' %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">


    <meta property="og:site_name" content="{% trans "Parranda industry of Uzbekistan" %}">
    <meta property="og:title" content="{% block og_title %} {% endblock og_title %} - {% trans "Parranda industry of Uzbekistan " %}">
    <meta property="og:image" content="{{ site_settings.logo }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% block og_description %} {% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fancy.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

{% block custom_style %}{% endblock %}

</head>

<body class="{% block body_classes %}{% endblock %}">

{% include 'include/header.html' %}

<main class="main">

    {% block content %}
    {% endblock content %}

</main>

{% include 'include/footer.html' %}

<!-- Optional JavaScript -->
{#<script src="{% static 'js/aos.js' %}"></script>#}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/fancy.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="//code.jivosite.com/widget/UDW8UftLr5" async></script>

</body>
</html>