{% extends "base/base.html" %}
{% load i18n app_tags %}

{% block styles %}
    {{ block.super }}
    <style>
        .search-field {
            display: inline-block;
            width: auto;
        }

        .search-button {
            font-size: 13px;
            color: #fff;
            text-transform: uppercase;
            border-radius: 100px;
            background-color: #182b8c;
            border: 2px solid #182b8c;
            padding: 7px 40px;
        }


    </style>
{% endblock %}

{% block content %}

    <section class="contacts-page">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="form-content">
                        {#                        <h3 class="page-title">{% trans 'Search' %}</h3>#}

                        <form class="form-group d-flex" action="{% url 'main:product_search_url' LANGUAGE_CODE %}"
                              method="get">
                            <input type="text" name="search" class="form-control search-field"
                                   placeholder="{% trans "Your query" %}" required="" value="{{ request.GET.search }}">
                            <button class="search-button ml-2 btn btn-info" type="submit">{% trans "Search" %}</button>
                        </form>

                    </div>

                    <div class="heading-box contacts-heading">
                        <h1 class="heading">{% trans "Search results" %}: {{ request.GET.search }}</h1>
                        <hr>
                    </div>

                    <div class="search">

                        {% if types %}
                            <ul>

                                {% for item in types %}
                                    <div>
                                        <h4 style="font-size: 26px">{{ item }}</h4>

                                        {% for obj in types|get_prop:item %}
                                            <h5><a href="{{ obj.link }}">{{ obj.title|safe|truncatewords_html:10 }}</a>
                                            </h5>
                                        {% endfor %}
                                        <p>&nbsp;</p>
                                    </div>

                                {% endfor %}

                            </ul>
                        {% else %}
                            <p class="text-danger" style="font-size: 26px">{% trans "No data found" %}</p>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
