{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block body_classes %}veterans_body{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for veteran in veterans %}
                <div class="col-md-6 col-sm-12">
                    <div class="card-person mt-5 mb-5">
                        <div class="card-person__img-container">
                            <div class="card-person__img" style="background-image: url('{{ veteran.image.url }}');"></div>
                        </div>
                        <div class="card-person__content">
                            <h2 class="card-person__content__name">{{ veteran.name }}</h2>
                            <h2 class="card-person__content__title">{{ veteran.position }}</h2>
                            <span class="card-person__content__pos">{{ veteran.working_period }} {% trans 'years' %}</span><br>
                            <span class="card-person__content__pos">{% trans 'Address:' %} {{ veteran.address }}</span><br>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block custom_style %}
     <style>

      @media (max-width: 500px) {
            .card-person__img-container {
                margin: 20px 0 0 114px !important;
                overflow: hidden;
                height: 250px;
                width: 50%;
            }
        }

        .enterprise_body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        a {
            text-decoration: none !important;
        }

        .card-person {
            height: 536px!important;
            transition: 0.7s ease-in-out;
            max-width: 600px;
            border-radius: 10px;
            border: 2px solid #03506F !important;
            overflow: hidden;
            box-shadow: 0px 0px 10px #ccc;
        }

        .card-person > img {
            width: 100%;

        }

        .card-person__img-container {
            margin: 20px 0 0 143px;
            overflow: hidden;
            height: 250px;
            width: 50%;

        }

        .card-person__img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 308px;
            width: 245px;
        }

        .card-person:hover {
             transition: 0.7s ease-in-out;
            transform: scale(1.1);
             box-shadow: 0px 0px 10px #949494;
        }

        .card-person > .card-person__content {
            padding: 15px;
            text-align: center;
            flex-direction: column;
            align-items: center;
        }

        .card-person > .card-person__content > .card-person__content__pos {
            margin-bottom: 16px;
            color: #777777;
        }

        .phone-num {
            margin-bottom: 8px;
        }

        .card-person__content__btn {
            margin-top: 32px;
        }

        .btn-main-over {
            background-color: transparent;
            border-radius: 10px;
            padding: 10px 25px;
            border: 2px solid #03506F;
            transition: 0.3s;
            cursor: pointer;
            color: #03506F;
            font-size: 14px !important;
            font-family: 'Yusei Magic', sans-serif !important;
        }

        .btn-main-over > a {
            color: #03506F;
            text-decoration: none !important;
        }

        .btn-main-over:hover {
            color: #fff;
            background-color: #03506F;
        }

        .btn-main-over:hover a {
            color: #fff;
        }
    </style>
{% endblock %}