{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block body_classes %}enterprise_body{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for enterprise in enterprise %}
                <div class="col-md-6 col-sm-12">
                    <div class="card-person mt-5 mb-5">
                        <div class="card-person__img-container">
                            <div class="card-person__img" style="background-image: url('{{ enterprise.image.url }}');
                                    "></div>
                        </div>
                        <div class="card-person__content">
                            {% if enterprise.name %}
                                <h2 class="card-person__content__name">{{ enterprise.name }}</h2>
                            {% endif %}

                            <h2 class="card-person__content__title">{{ enterprise.title }}</h2>
                            {% if enterprise.address %}
                                <span class="card-person__content__pos">{{ enterprise.address }}</span><br>
                            {% endif %}
                            {% if enterprise.tel %}
                                <span class="card-person__content__phone-inner phone-num">Tel: {{ enterprise.tel }}</span>
                                <br>
                            {% endif %}
                            {% if enterprise.fax %}
                                <span class="card-person__content__phone-city phone-num">Fax: {{ enterprise.fax }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block custom_style %}
    <style>
        @media (max-width: 500px) {
            .card-person__img-container {
                margin: 20px 0 0 114px !important;
                overflow: hidden;
                height: 250px;
                width: 50%;
            }
        }

        .enterprise_body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        a {
            text-decoration: none !important;
        }

        .card-person {
            height: 536px!important;
            transition: 0.7s ease-in-out;
            max-width: 600px;
            border-radius: 10px;
            border: 2px solid #03506F !important;
            overflow: hidden;
            box-shadow: 0px 0px 10px #ccc;
        }

        .card-person > img {
            width: 100%;

        }

        .card-person__img-container {
            margin: 20px 0 0 143px;
            overflow: hidden;
            height: 250px;
            width: 50%;

        }

        .card-person__img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 308px;
            width: 245px;
        }

        .card-person:hover {
            transition: 0.5s all;
            transform: scale(1.02);
            box-shadow: 0px 0px 10px #949494;
        }

        .card-person > .card-person__content {
            padding: 15px;
            text-align: center;
            flex-direction: column;
            align-items: center;
        }

        .card-person > .card-person__content > .card-person__content__pos {
            margin-bottom: 16px;
            color: #777777;
        }

        .phone-num {
            margin-bottom: 8px;
        }

        .card-person__content__btn {
            margin-top: 32px;
        }

        .btn-main-over {
            background-color: transparent;
            border-radius: 10px;
            padding: 10px 25px;
            border: 2px solid #03506F;
            transition: 0.3s;
            cursor: pointer;
            color: #03506F;
            font-size: 14px !important;
            font-family: 'Yusei Magic', sans-serif !important;
        }

        .btn-main-over > a {
            color: #03506F;
            text-decoration: none !important;
        }

        .btn-main-over:hover {
            color: #fff;
            background-color: #03506F;
        }

        .btn-main-over:hover a {
            color: #fff;
        }
    </style>
{% endblock %}