{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Product' %} |{% trans 'Parranda industry' %} {% endblock title %}

{% block content %}
    <main class="products">
        <section id="home" class="home d-flex justify-content-center align-items-end" style="background-image: url({% static 'img/home.png' %});">
        </section>
        <section id="product-detail" class="product-detail">
            <div class="container">
                <div class="products-detail__screen">
                    <h2 class="products-detail__title text-center">
                        {{ object.title }}
                    </h2>
                    <div class="row">
                        <div class="col-md-12">
                           <img class="img-fluid mb-3" src="{{ object.main_image.url }}" alt="{{ object.title }}" style="width: 100%;height: 500px;object-fit: cover; border-radius: 10px;">
                            <div class="news-date">{{ object.created|date:"d M Y" }}</div>
                        </div>
{#                        <div class="col-md-6">#}
{#                            <div class="products-detail__characters">#}
{#                        <div class="products-detail__characters__title text-center col-12">#}
{#                            Main Characters#}
{#                        </div>#}
{#                        <div class="characters-item item-dark row">#}
{#                            <div class="col-6">Lorem ipsum dolor</div>#}
{#                            <div class="col-6">3456 sm</div>#}
{#                        </div>#}
{#                        <div class="characters-item item-light row">#}
{#                            <div class="col-6">Lorem ipsum dolor</div>#}
{#                            <div class="col-6">3456 sm</div>#}
{#                        </div>#}
{#                        <div class="characters-item item-dark row">#}
{#                            <div class="col-6">Lorem ipsum dolor</div>#}
{#                            <div class="col-6">3456 sm</div>#}
{#                        </div>#}
{#                        <div class="characters-item item-light row">#}
{#                            <div class="col-6">Lorem ipsum dolor</div>#}
{#                            <div class="col-6">3456 sm</div>#}
{#                        </div>#}
{#                    </div>#}
{#                        </div>#}
                    </div>
                    <div class="about-detail__content">
                        <div class="news-detail__title">
                            <h3>{{ object.title }}</h3>
                            <div class="news-detail__title__line"></div>
                        </div>

                        <div class="about-detail__description">
                            <p>{{ object.content|safe }}</p>

                        </div>
                        <div class="news-detail__info">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="view-block"><i class="fas fa-eye mr-2"></i>{{ object.view_count }}</span>
                                <button id="print-btn" class="btn-main"><i class="fas fa-print mr-2"></i>{% trans 'PRINT' %}</button>
                            </div>
                        </div>
                    </div>

                    <div class="news-detail__social">
                        <div class="row justify-content-around align-items-center" style="width: 60%;margin: 0 auto;">
                              {% with base_url="http://localhost:8000" %}

                                    <button class="btn-main-over news-detail__social__button"><a href="#"><i
                                            class="fas fa-share mr-2"></i>{% trans 'share' %}</a></button>

                                    <button class="btn-main-over news-detail__social__button"><a href="https://www.facebook.com/sharer/sharer.php?u={{ base_url }}{{ request.get_full_path }}&t={{ object.title }}"><i
                                                 class="fab fa-facebook-f mr-2"></i>{% trans 'Facebook' %}</a></button>

                                    <button class="btn-main-over news-detail__social__button"><a href="https://twitter.com/share?text={{ object.title }}&url={{ base_url }}{{ request.get_full_path }}"><i
                                            class="fab fa-twitter mr-2"></i>{% trans 'Twitter' %}</a></button>

                                    <button class="btn-main-over news-detail__social__button"><a href="https://telegram.me/share/url?url={{ base_url }}{{ request.get_full_path }}&text={{ object.title }}"><i
                                            class="fab fa-telegram mr-2"></i>{% trans 'Telegram' %}</a></button>

                             {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block custom_style %}
    <style>

        @media print {
            #home {
                display: none !important;
            }

            .btn-main {
                display: none !important;
            }

            .view-block {
                display: none !important;
            }

            .home-title {
                display: none !important;
            }

            .news-detail__social {
                display: none !important;
            }

            .header {
                display: none !important;
            }

            .footer {
                display: none !important;
            }
            .globalClass_6a91 {
                display: none !important;
            }

            section,
            .product-detail {
                padding: 0 !important;
                margin: 0 !important;
            }

        }

    </style>
{% endblock %}