{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Product' %} | {% trans 'Parranda industry ' %}{% endblock title %}

{% block content %}

    <section id="home" class="home d-flex justify-content-center align-items-end"
             style="background-image: url('{% static "img/home.png" %}');">
    </section>
    <section class="products-detail" id="products">
        <div class="container">
            <div class="products-detail__title">
                <h2 class="section-title">{% trans 'PRODUCTS' %}</h2>
                <div class="underline"></div>
            </div>
            <div class="row justify-content-between">
                <div class="products-sidebar col-md-3">
                    <div class="sidebar-category">

                        {% for category in categories %}
                            <ul class="list-unstyled">
                            <li>
                                <a href="#bax_{{ category.id }}" data-toggle="collapse" class="product-title">{{ category.name }}</a>
                                {% if category.children %}
                                    <ul class="collapse border-0 list-unstyled" id="bax_{{ category.id }}">
                                        {% for sub_category in category.children.all %}
                                            <li><a class="dropdown-item" href="{% url 'main:product_by_category_url' LANGUAGE_CODE sub_category.slug %}">{{ sub_category.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                        {% endfor %}

                    </div>
                </div>
                <div class="row justify-content-around col-md-9">
                {% if products %}
                    {% for product in products %}
                        <div class="products-item mb-5 w-100">
                            <div class="products-item__img"></div>
                            <div class="products-item__content">
                                <p>{{ product.title }}</p>
                                <div class="products-item__content__footer">
                                    <div><a href="{% url 'main:product_detail_url' LANGUAGE_CODE product.id %}"
                                            class="btn-main">{% trans 'Read more' %}<i
                                            class="fas fa-arrow-right ml-2"></i></a>
                                    </div>
                                    <span class="view-block"><i
                                            class="fas fa-eye mr-2"></i>{{ product.created|date:"d M Y " }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>{% trans 'Not Found Product' %}</h1>
                {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}