{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'News' %} | {% trans 'Parranda industry' %} {% endblock title %}
{% block og_title %} {% trans 'News' %} {% endblock og_title %}

{% block content %}

    <section id="home" class="home d-flex justify-content-center align-items-end" style="background-image: url('../../static/img/home.png');">
    </section>

    <section id="news" class="news news-list">
        <div class="container">
            <div class="news-title d-flex justify-content-center align-items-center flex-column">
                <h2 class="section-title">{% trans 'All news' %}</h2>
                <div class="underline"></div>
            </div>
            <div class="news-content row justify-content-center align-items-center flex-column">
                <div class="row justify-content-between align-items-center w-100">
                    {% for new in news %}

                        <div class="card-list">
                            <img src="{{ new.main_image.url }}" alt="" class="col-md-6 p-0 img-news">
                            <div class="card-list__content col-md-6">
                                <div class="card-title">{{ new.title }}</div>
                                <p class="card-article">{{ new.description|safe }}</p>
                                <div class="card-date">{{ new.created|date:"d M Y" }}</div>
                                <div><a href="{% url 'main:post_detail_url' LANGUAGE_CODE new.id %}"
                                        class="btn-main-over">{% trans 'Read more' %}<i class="fas fa-arrow-right ml-2"></i></a>
                                </div>
                                <img src="{% static 'img/egg.png' %}" alt="" width="50px" height="auto" class="egg-el">
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>


            {% if is_paginated %}
                <div class="pagers text-center" role="toolbar" aria-label="Toolbar with button groups">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" type="button"
                           class="btn btn-danger mr-3">{% trans 'Prev' %}</a>
                    {% endif %}
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <a class="btn btn-danger">{{ i }}</a>
                            {% else %}
                                <a href="?page={{ i }}" class="btn btn-outline-danger">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"
                           class="btn btn-danger ml-3">{% trans 'Next' %}</a>
                    {% endif %}
                </div>
            {% endif %}


        </div>
    </section>

{% endblock content %}