{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Static' %} | {% trans 'Parranda industry' %}{% endblock title %}

{% block content %}

    <section id="home" class="home d-flex justify-content-center align-items-end"
             style="background-image: url('{% static "/img/home.png" %}');">
    </section>

    <section class="news-detail">
        <div class="container">
            <img class="img-fluid mb-3" src="{{ object.main_image.url }}" alt="{{ object.title }}"
                 style="width: 100%;height: 500px;object-fit: cover; border-radius: 10px;">
            <div class="news-date">{{ object.created|date:"d M Y" }}</div>
            <div class="news-detail__title">
                <h3>{{ object.title }}</h3>
                <div class="news-detail__title__line"></div>

            </div>

            <div class="news-detail__description">
                <p>{{ object.content|safe }}</p>
            </div>
            <div class="news-detail__info">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="view-block"><i class="fas fa-eye mr-2"></i>{{ object.view_count }}</span>
                    <button id="print-btn" class="btn-main"><i class="fas fa-print mr-2"></i>{% trans 'PRINT' %}
                    </button>
                </div>
            </div>
            <div class="news-detail__social">
                <div class="row justify-content-around align-items-center" style="width: 60%;margin: 0 auto;">

                    {% with base_url="http://parrandasanoat.uz/" %}

                        <button class="btn-main-over news-detail__social__button"><a href="#">
                            <i class="fas fa-share mr-2"></i>{% trans 'share' %}</a></button>

                        <button class="btn-main-over news-detail__social__button"><a
                                href="https://www.facebook.com/sharer/sharer.php?u=
                                        {{ base_url }}{{ request.get_full_path }}&t={{ object.title }}">
                            <i class="fab fa-facebook-f mr-2"></i>{% trans 'Facebook' %}</a></button>

                        <button class="btn-main-over news-detail__social__button"><a
                                href="https://twitter.com/share?text={{ object.title }}&url=
                                        {{ base_url }}{{ request.get_full_path }}">
                            <i class="fab fa-twitter mr-2"></i>{% trans 'Twitter' %}</a></button>

                        <button class="btn-main-over news-detail__social__button"><a
                                href="https://telegram.me/share/url?url=
                                        {{ base_url }}{{ request.get_full_path }}&text={{ object.title }}">
                            <i class="fab fa-telegram mr-2"></i>{% trans 'Telegram' %}</a></button>
                    {% endwith %}

                </div>
            </div>
        </div>
    </section>
{% endblock content %}


{% block custom_style %}
    <style>

        @media print {

            .news-detail__img {
                display: none !important;
            }

            .home {
                display: none !important;
            }

            .btn-main {
                display: none !important;
            }

            .view-block {
                display: none !important;
            }

            .home-title {
                display: none !important;
            }

            .news-detail__social {
                display: none !important;
            }

            .header {
                display: none !important;
            }

            .footer {
                display: none !important;
            }

            .globalClass_6a91 {
                display: none !important;
            }

        }

    </style>
{% endblock %}
