{% load app_tags %}
{% load static i18n %}

<footer class="footer" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">
    <div class="footer-top">
        <div class="container">
            <div class="row foot">
                <div class="col-lg-3" style="margin-botom: 40px">
                    <div class="footer-logo">
                        <div class="header-bottom__logo">
                            <a href="{% url 'main:home_url' LANGUAGE_CODE %}">
                                <img src="{% static 'img/LOGO_PARRANDA-01.png' %}" alt="{% trans 'Logo of Parranda sanoat' %}">
                                <span class="m-0">{% trans 'Poultryindustry' %}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-9 row">
                    <div class="col-md-4">
                        <p class="footer-text">{{ site_settings.content|truncatechars:50 }}</p>
                    </div>
                    <div class="col-md-4">
                        <div class="block-top">
                                <h3 class="block-top__header">{% trans 'Operating Mode' %}</h3>
                                <p class="block-top__text">{{ site_settings.operating_mode }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block-top">
                            <h3 class="block-top__header">{% trans 'Social Network' %}</h3>
                            <div class="header-top__social d-flex justify-content-start align-items-center mt-"
                                 style="margin-bottom: 20px; margin-top: 15px;">
                                {% if site_settings.twitter %}
                                    <a href="{{ site_settings.twitter }}">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                {% endif %}

                                {% if site_settings.youtube %}
                                    <a href="{{ site_settings.youtube }}">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                {% endif %}

                                {% if site_settings.facebook %}
                                    <a href="{{ site_settings.facebook }}">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                {% endif %}

                                {% if site_settings.telegram %}
                                    <a href="{{ site_settings.telegram }}">
                                        <i class="fab fa-telegram"></i>
                                    </a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block-bottom">
                            <div class="block-line"></div>
                            <div class="block-bottom__content">
                                <h3 class="block-bottom__content__header">{% trans 'Email' %}</h3>
                                <ul>
                                    {% if site_settings.email_1 %}
                                        <li><a href="mailto:{{ site_settings.email_1 }}">{{ site_settings.email_1 }}</a></li>
                                    {% endif %}
                                    {% if site_settings.email_2 %}
                                        <li><a href="mailto:{{ site_settings.email_2 }}">{{ site_settings.email_2 }}</a></li>
                                    {% endif %}
                                    {% if site_settings.email_3 %}
                                        <li><a href="mailto:{{ site_settings.email_3 }}">{{ site_settings.email_3 }}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block-bottom">
                            <div class="block-line"></div>
                            <div class="block-bottom__content">
                                <h3 class="block-bottom__content__header">{% trans 'Address' %}</h3>
                                <ul>
                                    {% if  site_settings.address %}
                                        <li>{{ site_settings.address }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block-bottom">
                            <div class="block-line"></div>
                            <div class="block-bottom__content">
                                <h3 class="block-bottom__content__header">{% trans 'Phone' %}</h3>
                                <ul>
                                    {% if site_settings.tel_first %}
                                        <li><a href="tel:{{ site_settings.tel_first }}">{{ site_settings.tel_first }}</a></li>
                                    {% endif %}
                                    {% if site_settings.tel_second %}
                                        <li><a href="tel:{{ site_settings.tel_second }}">{{ site_settings.tel_second }}</a></li>
                                    {% endif %}
                                    {% if site_settings.tel_third %}
                                        <li><a href="tel:{{ site_settings.tel_third }}">{{ site_settings.tel_third }}</a></li>
                                    {% endif %}
                                    {% if site_settings.fax %}
                                        <li><a href="mailto:{{ site_settings.fax }}">{{ site_settings.fax }}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <span class="dst-link">
                {% trans 'Site was created by' %} <a href="https://datasite.uz/">DataSite Technology</a>
            </span>
        </div>
    </div>
</footer>
