{% load static i18n app_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as languages %}

<!--Mobile version of header-->
<div class="header__menu pt-5">

    <div class="header-bottom__menu__media">
        <div class="header_bottom_hamburger">
            <span></span>
            <span></span>
        </div>

{#        <div class="menu-media__logo">#}
{#            <img class="img-fluid" src="{{ site_settings.logo.url }}" alt="media__logo">#}
{#            <span>{% trans 'PoultryIndustry' %}</span>#}
{#            <span>{% trans 'Association' %}</span>#}
{#        </div>#}
        <ul>
            {% for menu in menus %}
                <li><a>{{ menu.name }}
                    {% if menu.children.all %}
                        <i class="fa fa-chevron-right ml-2" aria-hidden="true"></i>{% else %} {% endif %}
                </a>

                    {% if menu.children %}
                        <ul class="menu-media__dropdown">

                            {% for sub_menu in menu.children.all %}
                                <li><a href="{{ sub_menu.path }}">{{ sub_menu.name }}</a></li>
                            {% endfor %}

                            {% if sub_menu.children %}
                                <li>
                                    <ul class="menu-meida__dropdown-inside">

                                        {% for second_sub_menu in sub_menu.children.all %}
                                            <li><a href="{{ second_sub_menu.path }}">{{ second_sub_menu.name }}</a></li>
                                        {% endfor %}

                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


<!--Desktop version of header-->
<header class="header">
    <div class="header-top d-flex justify-content-center align-items-center" data-aos="fade-down">
        <div class="container">
            <div class="row align-items-center header-nav">
                <div class="header-top__social col-md-5 d-flex justify-content-start align-items-center">

                    <a {% if site_settings.twitter %}href="{{ site_settings.twitter }}" {% else %} href="#" {% endif %}>
                        <i class="fab fa-twitter"></i>
                    </a>

                    <a {% if site_settings.youtube %} href="{{ site_settings.youtube }}" {% else %}
                                                      href="#" {% endif %}>
                        <i class="fab fa-youtube"></i>
                    </a>

                    <a {% if site_settings.facebook %} href="{{ site_settings.facebook }}" {% else %}
                                                       href="#" {% endif %}>
                        <i class="fab fa-facebook"></i>
                    </a>

                    <a {% if site_settings.telegram %} href="{{ site_settings.telegram }}" {% else %}
                                                       href="#" {% endif %}>
                        <i class="fab fa-telegram"></i>
                    </a>

                    <form action="{% url 'main:product_search_url' LANGUAGE_CODE %}" method="get"
                          class="header-top__search ml-2" style="width: 60%;">
                        <div class="search-block">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="{% trans 'Search' %}" name="search" class="w-100">
                        </div>
                    </form>
                </div>

                <div class="header-top__contact col-md-7 d-flex justify-content-end align-items-center">

                    <a href="#"
                       class="header-top__contact__phone d-flex justidy-content-center align-items-center">
                        <i class="fas fa-phone-alt"></i>
                        <div class="line mx-2"></div>
                        <span>{{ site_settings.tel_first }}</span>
                    </a>


                    <a href="#"
                       class="header-top__contact__mail d-flex justidy-content-center align-items-center m-0">
                        <i class="far fa-envelope"></i>
                        <div class="line mx-2"></div>
                        <span>{{ site_settings.email_3 }}</span>
                    </a>
                    <div class="header-top__lang d-flex justify-content-end ml-2">
                        <ul class="d-flex m-0 p-0">

                            {% for language, title in languages %}
                                <li class="{% if LANGUAGE_CODE == language %}lang_active{% endif %}">
                                    {% get_url_tag request=request lang=language as url %}
                                    <a href="{{ url }}" class="link-head rot">{{ title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {#        Mobile version of top menu#}
            <div class="menu-burger">
                <div class="row w-100 col-md-12">
                    <form action="{% url 'main:product_search_url' LANGUAGE_CODE %}" method="get"
                          class="header-top__search m-0 col-md-10 d-flex align-items-center">
                        <div class="search-block w-100">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="{% trans 'Search' %}" name="search" class="w-100">
                        </div>
                    </form>
                </div>

                <div class="pos-f-t">
                    <div>
                        <div class="p-3">
                            <div class="row align-items-center flex-column header-nav-media">
                                <div class="header-top__contact col-md-12 d-flex justify-content-center align-items-start mb-3">

                                    <a href="#"
                                       class="header-top__contact__phone d-flex justidy-content-center align-items-center mb-2">
                                        <i class="fas fa-phone-alt"></i>
                                        <div class="line mx-2"></div>
                                        <span>{{ site_settings.tel_first }}</span>
                                    </a>


                                    <a href="#"
                                       class="header-top__contact__mail d-flex justidy-content-center align-items-center mb-2">
                                        <i class="far fa-envelope"></i>
                                        <div class="line mx-2"></div>
                                        <span>{{ site_settings.email }}</span>
                                    </a>

                                </div>

                                <div class="header-top__social header-top__lang col-md-12 d-flex justify-content-start align-items-center">

                                    <a {% if site_settings.twitter %}href="{{ site_settings.twitter }}" {% else %}
                                       href="#" {% endif %}>
                                        <i class="fab fa-twitter"></i>
                                    </a>

                                    <a {% if site_settings.youtube %} href="{{ site_settings.youtube }}" {% else %}
                                                                      href="#" {% endif %}>
                                        <i class="fab fa-youtube"></i>
                                    </a>

                                    <a {% if site_settings.facebook %} href="{{ site_settings.facebook }}" {% else %}
                                                                       href="#" {% endif %}>
                                        <i class="fab fa-facebook"></i>
                                    </a>

                                    <a {% if site_settings.telegram %} href="{{ site_settings.telegram }}" {% else %}
                                                                       href="#" {% endif %}>
                                        <i class="fab fa-telegram"></i>
                                    </a>

                                    <ul class="d-flex m-0 p-0 ml-auto">
                                        {% for language, title in languages %}
                                            <li class="{% if LANGUAGE_CODE == language %}lang_active{% endif %}">
                                                {% get_url_tag request=request lang=language as url %}
                                                <a href="{{ url }}" class="link-head rot">{{ title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container py-4">
            <div class="header-bottom__flex">
                {#            header-bottom-content#}
                <a class="header-bottom__logo" href="{% url 'main:home_url' LANGUAGE_CODE %}">
                    <img src="{{ site_settings.logo.url }}" alt="" width="80px" height="80px">
                    <div class="header__descr">
                        <span>{% trans 'Poultryindustry' %}</span>
                        <span>{% trans 'Association' %}</span>
                    </div>
                </a>
                <div class="header-bottom__menu">
                    <ul>
                        {% for menu in menus %}
                            <li class="{% if request.path == menu.path %} lang_active {% endif %}"><a {% if menu.path %}
                                href="{{ menu.path }}" {% endif %}>{{ menu.name }}</a>

                                {% if menu.children %}
                                    <ul class="header-bottom__dropdown">

                                        {% for sub_menu in menu.children.all %}
                                            <li><a href="{{ sub_menu.path }}">

                                                {% if sub_menu.children.all %}
                                                    <i class="fa fa-chevron-left" aria-hidden="true"
                                                       style="transition: none; font-size: 12px; margin-right: 6px;"></i>
                                                {% endif %}
                                                {{ sub_menu.name }}

                                            </a>

                                                {% if sub_menu.children %}
                                                    <ul class="mini__menu">
                                                        {% for second_sub_menu in sub_menu.children.all %}
                                                            <li>
                                                                <a href="{{ second_sub_menu.path }}">{{ second_sub_menu.name }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}

                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}

                    </ul>

                </div>


                {#                <div class="mega-menu__hamburger">#}
                {#                    <span></span>#}
                {#                    <span></span>#}
                {#                    <span></span>#}
                {#                </div>#}
                <div class="header__burger">
                    <span></span>
                </div>

            </div>

        </div>
    </div>
    {#    <div class="mega__menu">#}
    {#        <div class="mega-menu__closer">#}
    {#        </div>#}
    {#        <div class="header-bottom__menu">#}
    {#            <ul>#}
    {##}
    {#                {% for menu in menus %}#}
    {#                    <li><a {% if menu.path %} href="{{ menu.path }}" {% endif %}>{{ menu.name }}</a>#}
    {##}
    {#                        {% if menu.children %}#}
    {#                            <ul class="header-bottom__dropdown">#}
    {##}
    {#                                {% for sub_menu in menu.children.all %}#}
    {#                                    <li><a href="{{ sub_menu.path }}">{{ sub_menu.name }}</a>#}
    {##}
    {#                                        {% if sub_menu.children %}#}
    {#                                            <ul class="mini__menu">#}
    {#                                                {% for second_sub_menu in sub_menu.children.all %}#}
    {#                                                    <li>#}
    {#                                                        <a href="{{ second_sub_menu.path }}">{{ second_sub_menu.name }}</a>#}
    {#                                                    </li>#}
    {#                                                {% endfor %}#}
    {#                                            </ul>#}
    {#                                        {% endif %}#}
    {##}
    {#                                    </li>#}
    {#                                {% endfor %}#}
    {#                            </ul>#}
    {#                        {% endif %}#}
    {#                    </li>#}
    {#                {% endfor %}#}
    {##}
    {#            </ul>#}
    {##}
    {#        </div>#}
    {##}
    {#    </div>#}

</header>