{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Gallery' %} | {% trans 'Parranda industry ' %}{% endblock title %}
{% block og_title %} {% trans 'Gallery' %} {% endblock og_title %}

{% block content %}
    <section id="home" class="home d-flex justify-content-center align-items-end" style="background-image: url('{% static "img/home.png" %}');">
    </section>
    <section id="gallery" class="gallery-list">
        <div class="gallery-bg" style="background-color: #F4F4F4;">
            <div class="container">
                <div class="gallery-title">
                    <h2 class="section-title">{% trans 'GALLERY' %}</h2>
                    <div class="underline"></div>
                </div>
                <div class="gallery-content">
            <div class="row">
                {% for gallery in galleries %}
                    <div class="col-md-4" data-aos="fade-right">
                        <div class="photo" style="background-image: url('{{ gallery.image.url }}');
                                ">
                            <a href="{% url 'main:gallery_detail_url' LANGUAGE_CODE gallery.id %}"
                               class="photo-area">{{ gallery.title }}
                            </a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
            </div>
            <div class="pagers text-center" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">

                    {% if is_paginated %}
                        <div class="pagers text-center" role="toolbar" aria-label="Toolbar with button groups">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}" type="button"
                                   class="btn btn-danger mr-3">{% trans 'Prev' %}</a>
                            {% endif %}
                            <div class="btn-group me-2" role="group" aria-label="First group">
                                {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <a class="btn btn-danger">{{ i }}</a>
                                    {% else %}
                                        <a href="?page={{ i }}" class="btn btn-outline-danger">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}"
                                   class="btn btn-danger ml-3">{% trans 'Next' %}</a>
                            {% endif %}
                        </div>
                    {% endif %}


                </div>
            </div>
        </div>
    </section>


{% endblock content %}