{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div class="container">
        <div class="row py-5 pt-lg-5">
            <div class="col-md-6">
                <img style="width: 100%;" src="{{ object.image.url }}" alt="img">
            </div>
            <div class="col-md-6">
                <h2>
                    {{ object.title }}
                </h2>
                <p>
                    {{ object.content|safe }}
                </p>
            </div>
                    {% for gallery in object.sub_galleries.all %}

            <div class="col-md-3 mt-5">
                <div class="card-deck">
                        <div class="card p-0">
                            <div class="img-gallery"
                                 style="background-image: url('{{ gallery.image.url }}');">
                                <a data-fancybox="gallery" href="{{ gallery.image.url }}"
                                   class="photo-area">

                                    {% if gallery.title %}
                                        {{ gallery.title }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>

                </div>
            </div>
                            {% endfor %}

        </div>
    </div>
{% endblock content %}