{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <section class="static">
        <div class="container">
            <div class="row justify-content-between">
                <div class="static-content col-md-9">


                    <div class="static-img"
                         style="background-image: url('{{ object.image.url }}'); background-size: cover;
                                 background-position: top;}"></div>

                    <h2 class="static-content__title">{{ object.title }}</h2>
                    <div class="static-content_description">
                        <p>{{ object.content|safe }}</p>
                    </div>
                    <span class="view-block"><i class="fas fa-eye mr-2"></i>{{ object.view_count }}</span>
                </div>
                <div class="static-sidebar col-md-3">
                    {% for new in news %}
                        <div class="static-card">
                            <div class="static-card__img"
                                 style="background-image: url('{{ new.main_image.url }}'); background-size: cover;
                                         background-position: center;"></div>
                            <div class="static-card__content">
                                <div class="static-card__content__title">
                                    {{ new.title }}
                                </div>
                                <div class="static-card__content__link d-flex justify-content-between align-items-center">
                                    <a
                                            href="{% url 'main:post_detail_url' LANGUAGE_CODE new.id %}"
                                            class="">+ {% trans 'Read more' %}</a><span class="view-block"><i
                                        class="fas fa-eye mr-2"></i>{{ new.view_count }}</span></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}



{% block custom_style %}
    <style>

        a {
            text-decoration: none;
        }

        .view-block {
            color: #acacac;
        }

        .static-img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 600px;
            border-radius: 10px;
            margin-bottom: 32px;
        }

        .static-content {
            background: #FFFFFF;
            box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            padding: 30px 30px !important;
            margin-bottom: 32px;
        }


        .static-card {
            border-radius: 10px;
            border: 2px solid #03506F;
            font-size: 14px;
            margin-bottom: 16px;
        }

        .static-card__content {
            padding: 15px;
        }

        .static-card__content__link > a {
            color: #03506F;
        }

        .static-card__content__link > a:hover {
            color: #03506F;
            text-decoration: underline;
        }

        .static-card__content__title {
            margin-bottom: 16px;
        }

        .static-card__img {
            width: 100%;
            height: 200px;
            margin-bottom: 8px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }


        @media print {
            .home {
                display: none;
            }
        }
    </style>
{% endblock %}