{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} {% trans 'Poultry Type' %} {% endblock title %}
{% block og_title %} {% trans 'Poultry Type' %} {% endblock og_title %}

{% block content %}

    <section id="home" class="home d-flex justify-content-center align-items-end"
             style="background-image: url('{% static "img/home.png" %}');">
    </section>

    <div class="container">
        <div class="row">
            {% for type in types %}
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="{% url 'main:poultry_detail_url' LANGUAGE_CODE type.id %}">
                        <div class="prod-card">
                            <div class="prod-card__img">
                                <img src="{{ type.image.url }}">
                            </div>
                            <h4 class="h4">
                                <a href="{% url 'main:poultry_detail_url' LANGUAGE_CODE type.id %}"> {{ type.title }}</a>
                            </h4>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}


