{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block body_classes %}leader_body{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for leader in leaders %}
                <div class="col-md-4 col-sm-12">
                    <div class="card-person mt-5 mb-5">
                        <div class="card-person__img-container">
                            <div class="card-person__img" style="background-image: url('{{ leader.image.url }}');
                                    "></div>
                        </div>
                        <div class="card-person__content">
                            <h2 class="card-person__content__name">{{ leader.name }}</h2>
                            <span class="card-person__content__pos">{{ leader.position }}</span>
                            <span class="card-person__content__phone-inner phone-num">{% trans 'Internal telephone:' %} {{ leader.internal_telephone }}</span>
                            <span class="card-person__content__phone-city phone-num">{% trans 'City service phone:' %} {{ leader.city_service_phone }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block custom_style %}
    <style>
        .leader_body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .card-person {
            height: 470px !important;
            transition: 0.7s ease-in-out;
            max-width: 300px;
            border-radius: 10px;
            border: 2px solid #03506F !important;
            overflow: hidden;
            box-shadow: 0px 0px 10px #ccc;
        }

        .card-person > img {
            width: 100%;
        }

        .card-person__img-container {
            overflow: hidden;
            height: 250px;
            width: 100%;

        }

        .card-person__img {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 308px;
            width: 296px;
        }

        .card-person:hover {
            transition: 0.7s ease-in-out;
            transform: scale(1.1);
        }

        .card-person > .card-person__content {
            padding: 15px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card-person > .card-person__content > .card-person__content__pos {
            margin-bottom: 16px;
            color: #777777;
        }

        .phone-num {
            margin-bottom: 8px;
        }
    </style>
{% endblock %}