a.header-bottom__logo > span {
    color: #0A043C !important;
}

.card-list {
    background: #FFFFFF;
    /* main-color */
    position: relative;
    border: 1px solid #03506F !important;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    display: flex;
    border-radius: 10px;
    margin-bottom: 32px;
    max-height: 300px;
}

.card-list > img {
    border-radius: 10px;
}

.card-list > .card-list__content {
    padding: 20px;
}

.card-list > .card-list__content > .card-date {
    margin-bottom: 30px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.36);
}

.card-list > .card-list__content > img {
    border-radius: 10px;
}


.home-page {
    height: 100vh;
    background-image: url('../img/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0 !important;
    padding-bottom: 40px !important;
}

.home-page_bg {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.news-list {
    background-color: #fff !important;
}

section.gallery-list {
    background-color: #fff !important;
}

.gallery-bg {
    background-color: #fff !important;
}

.products-detail__characters {
    border-radius: 10px;
    margin-bottom: 32px;
}

.products-detail__characters__title {
    padding: 20px;
    background-color: #03506F;
    color: #fff;
}

.products-derail__img {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    margin-bottom: 32px;
}

.characters-item {
    padding: 20px;
    width: 100%;
    margin: 0 !important;

}

.item-dark {
    background-color: #ebecec;
}

.item-light {
    background-color: #f3f3f3;
}

.products-sidebar {
    /*background-color: #ebecec;*/
    /*height: 100%;*/
    /*padding: 15px;*/
    border-radius: 10%;
}

.sidebar-category__title {
    text-decoration: none !important;
    padding: 15px !important;
    color: #0A043C !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    width: 100% !important;
}

i {
    transition: all .7s ease-in-out;
    transform: rotate(0);
}

.sidebar-category__title:focus > i {
    transition: all .7s ease-in-out;
    transform: rotate(180deg);
}

.sidebar-category__item {
    list-style: none !important;
    padding: 15px;
}

.sidebar-category__item > a {
    color: #03506F;
}

.product-list__filter {
    background-color: #ebecec;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 32px;
}
