@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.menu-burger {
    display: none !important;
}

@media (min-width: 1199px) {
    .header__menu {
        display: none;
    }


}


@media (max-width: 1199px) {
    .header-bottom__menu {
        display: none !important;
    }

    .header-bottom__flex {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }


    .header__burger {
        display: block !important;
    }

    .mega-menu__hamburger {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .header-nav {
        display: none !important;
    }

    .header__menu > .row {
        height: auto !important;
    }

    .media {
        display: block !important;
        margin-top: 25px !important;
    }

    .header__menu ~ a {
        height: 0 !important;
    }


    .header-bottom__menu ul {
        display: block !important;
        list-style-type: none;
        text-align: center;
    }

    .menu-burger {
        display: flex !important;
        align-items: flex-start !important;
        flex-direction: column !important;
    }

    .header-bottom__menu {
        display: none !important;
    }

    .header-bottom__menu {

        text-align: center !important;
    }

    .header__burger {
        display: block !important;
    }

    .header-bottom-content {
        padding: 0 1.5rem;
    }

    .news-detail__social__button {
        margin-bottom: 16px;
    }

    .header-bottom__menu .menu_active .submenu {
        display: none;
    }

    .header-bottom__menu .menu_active:hover .submenu {
        display: none;
    }

}

@media (max-width: 767px) {
    .about-content {
        margin-top: 32px;
    }

    .card {
        margin-bottom: 32px;
    }

    .news-content {
        margin: 0 !important;
    }

    .site-content {
        justify-content: center !important;
    }

    .products-img {
        /* margin-left: 100px!important; */
        margin: 0 auto !important
    }

    .article-content > h1 {
        font-size: 36px !important;
    }

    .news-content > .row {
        justify-content: center !important;
    }
}


@media (max-width: 500px) {
    .res-iframe {
        padding: 10px 0;
    }

    .res-contact-form {
        margin: 13px 0;
    }

    .card-person {
        margin: 0 auto !important;
    }

    .responsive-product {
        margin: 0 auto !important;
    }

    .card-list {
        display: block !important;
        margin-bottom: 160px !important;
    }

    .card-list .card-list__content {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        margin-top: 10px !important;
        border-radius: 10px !important;
    }

    .res-footer {
        margin-left: 10px;
    }

    .fa-envelope {
        margin-left: 0px;
        margin-right: 5px;
    }

    .line {
        margin-left: 0 !important;
        display: none;
    }

    .block-top {
        margin-left: 10px !important;
    }

    .swiper-slide {
        justify-content: center !important;
        align-items: center !important;
        display: flex !important;
    }
}

@media (max-width: 443px) {
    .line {
        margin-left: 0 !important;
    }


    .swiper-button-next {
        display: none !important;
    }

    .header__menu > .row {
        height: 0 !important;
    }

    .header-bottom__logo > span {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .info {
        width: 100%;
        height: 420px;
        border-radius: 11px;
        transition: all 0.5s ease-in-out;
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;
        position: absolute;
        left: 3px;
        top: 0;
        opacity: 0;
    }
}

@media (max-width: 356px) {


    .swiper-button-next {
        display: none !important;
    }

    .header-bottom__menu {
        text-align: center !important;
    }


    .header__menu > .row {
        height: 0 !important;
    }

    .swiper-button-next {
        display: none;
    }

    .info {
        width: 100%;
        height: 420px;
        border-radius: 11px;
        transition: all 0.5s ease-in-out;
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;
        position: absolute;
        left: 3px;
        top: 0;
        opacity: 0;
    }

    .home-title > h1 {
        font-size: 24px !important;
    }

    .home-title > h2 {
        font-size: 18px !important;
    }

    .header__menu > .row {
        padding: 0 !important;
        padding-left: 160px !important;
    }

    .header-bottom__logo {
        margin-bottom: 20px !important;
    }


    .header-bottom__logo img {
        display: block !important;
        margin: 0 auto !important;
    }

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 0;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #E3000F;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    height: 12px;
}

section {
    padding: 120px 0 !important;
}

.rounded {
    border-radius: 10px !important;
}

a {
    text-decoration: none !important;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px !important;
}

/*h2 {*/
/*    font-size: 36px !important;*/
/*    font-family: 'Montserrat', sans-serif;*/
/*}*/

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px !important;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

small {
    font-size: 16px !important;
}

.btn-main {
    background: #03506F;
    border-radius: 10px;
    padding: 10px 25px;
    /*border: none;*/
    border: 2px solid #03506F;
    cursor: pointer;
    transition: 0.3s;
    color: #fff !important;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.btn-main > a {
    color: #fff !important;
    font-size: 14px;
}

.btn-main:hover a {
    color: #fff !important;
    font-size: 14px;
}

.btn-main:hover {
    background-color: #003d56;
    border-color: #003d56;


}


.btn-main-over {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 25px;
    border: 2px solid #03506F;
    transition: 0.3s;
    cursor: pointer;
    color: #03506F;
    font-size: 14px !important;
    font-family: 'Montserrat', sans-serif;
}

.btn-main-over i {
    transition: all 500ms;
}

.btn-main-over:hover i {
    transition: all 500ms;
}


.btn-main-over > a {
    color: #03506F;
}

.btn-main-over:hover {
    color: #fff;
    background-color: #03506F;
}

.btn-main-over:hover a {
    color: #fff;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    color: #0A043C;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.underline {
    width: 70px;
    height: 2px;
    background-color: #E3000F;
    margin-top: 16px !important;
    margin: 0 auto;
}

/* header style */
header.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

header.header > .header-top {
    background-color: #0A043C;
    padding: 10px 0;

}

.header-top__social {
    height: 100% !important;
}

.header-top__social > a {
    width: 24px;
    height: 24px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 100%;
}

.header-top__social > a > i {
    color: #0A043C;
}

.header-top__lang > ul > li {
    list-style: none;
}

ul > li:nth-child(5) {
    position: relative
}

.header-top__contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-top__contact > .header-top__contact__phone > span, i.fa-phone-alt {
    color: #fff !important;
    font-size: 14px;
}

.header-top__contact > .header-top__contact__mail > span, i.fa-envelope {
    color: #fff !important;
    font-size: 14px;
}

.header-top__contact > .header-top__contact__phone, .header-top__contact__mail {
    margin-right: 12px;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

.line {
    height: 20px;
    width: 1px;
    background-color: #fff;
}

.header-top__search > .search-block {
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 10px;
    /*padding-left: 10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top__search > .search-block > i.fa-search {
    margin-right: 10px;
    color: #fff;
}

.header-top__search > .search-block > input {
    border: none !important;
    background-color: transparent !important;
    color: #fff;
    outline: none;
}

.header-top__lang > ul > li {
    color: #fff;
}

.header-top__lang > ul > li > a {
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 300;
}

.header-bottom {
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 25px 13px rgba(0, 0, 0, 0.25);
}

.header-bottom__logo > span {
    font-size: 21px;
    font-weight: 500;
    margin-left: 8px;
}

.header-bottom__menu > ul > li {
    list-style: none;
}


.header__burger {
    position: relative;
    display: none;
    min-width: 24px;
    min-height: 20px;
}

.header__burger.active span {
    display: none;
}

.header__burger.active:before {
    transition: all 0.4s ease 0s;
    transform: rotate(45deg);
    top: 9px;
    background-color: #0A043C;
}

.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.4s ease 0s;
    background-color: #0A043C;
}

.header__burger:before {
    content: "";
    min-width: 100%;
    min-height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 1px;
    transition: all 0.4s ease 0s;
}

.header__burger:after {
    content: "";
    min-width: 100%;
    min-height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.4s ease 0s;
}

.header__burger span {
    min-width: 100%;
    min-height: 2px;
    background-color: #000;
    transition: all 0.4s ease 0s;
    position: absolute;
    left: 0;
    top: 7px;
}


.header__menu {
    position: fixed;
    right: -200%;
    transition: 0.3s;
    height: 100%;
    width: 400px;
    background-color: #fff;
    z-index: 100;
}

.header__menu.active {
    right: 0;
}

.header__menu > .row {
    padding: 0 80px;
    height: 82%;
}

.header-bottom__menu.media > ul > li {
    margin-bottom: 20px;
    font-size: 18px;
}


/* main style */


/* home screen */
section.home {
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0 !important;
    padding-bottom: 40px !important;
}

.home-title {
    color: #fff;
}


body.active {
    overflow: hidden;
}


/* about screen */
.about-detail__content {
    background: #FFFFFF;
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px;
}

.about-detail__img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 32px;
}

.about-title {
    margin-bottom: 64px;
}

.about-img {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.about-content {
    position: relative;
    background: #FFFFFF;
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px;
}

.about-content > h3 {
    margin-bottom: 16px;

}

.about-content > p {
    margin-bottom: 32px;
    font-weight: normal !important;
}

.egg-el {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* news screen */

section.news {
    background-color: #F4F4F4;
}

.card {
    padding: 20px;
    max-width: 360px;
    background: #FFFFFF;
    /* main-color */

    border: 1px solid #03506F !important;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);

}


.news-content {
    margin-bottom: 32px;
}

.news-title {
    margin-bottom: 64px;
}

.gallery-card-img {
    width: 255px;
    height: 235px;
    object-fit: cover;
}

.card:hover .img-title {
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.img-title {
    transition: all 0.5s ease-in-out;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    position: absolute;
}

.card > .card-title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 16px;
    font-family: 'Yusei Magic', sans-serif;
}

.card > .card-article {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 16px;
}

.img-news {
    width: 100%;
    object-fit: cover;
}

.card > .card-date {
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.36);
    margin-bottom: 32px;
}

.swiper-slide .card .card-img img {
    height: 180px;
}


section.article {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    background-attachment: fixed;

}

.article-bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.article-content > h1 {
    color: #fff;
}

.article-content > small {
    color: #fff;
}

section.products {
    background-color: #0A043C;
}

.products-title {
    margin-bottom: 64px;

}

.products-title > h2 {
    color: #fff;
}

.item {
    color: #fff;
    margin-bottom: 120px;
}

.item > .products-img {
    margin-left: 45px;
    background-image: url('../img/prd.png');
    width: 250px;
    height: 250px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 16px;
}

.item-title {
    margin-bottom: 12px;
    font-size: 35px;
}

.card-hover {
    position: relative;
}

.info {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    transition: all 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;

}

.info .item-title {
    margin-top: 150px;
}

.card-hover:hover .info {
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.products-item {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}


.products-item__content {
    padding: 20px;
}

.products-item__content p {
    margin-bottom: 32px;
}

.products-item__img {
    background-image: url('../img/about.png');
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.products-detail__title {
    margin-bottom: 64px;
}


.products-item__content__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.swiper-container {
    width: 100%;
}

.swiper-pagination-bullet {
    background-color: transparent !important;
    border: 3px solid #E3000F;
    width: 15px !important;
    height: 15px !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #E3000F !important;
}

.swiper-button-prev {
    top: 35% !important;
    color: #E3000F !important;
    left: -50px !important;
}

.swiper-button-next {
    top: 35% !important;
    color: #E3000F !important;
    right: -50px !important;
}


.site-item {
    margin-bottom: 64px;
}

.site-content {
    text-align: center;
    justify-content: space-between;
    margin-top: 40px;
}

.site-content > .site-item {
    max-width: 250px;
    min-height: 250px;
    color: #000;
    padding: 20px 14px;
    position: relative;
}
.site-content >  .site-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    right: -21px;
    background-color: #0A043C;
    top: 0;
}

.site-content > .site-item:last-child::before {
    display: none;
    }


.site-content > .site-item > .site-img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.site-content > .site-item > .site-title {
    font-weight: 500;
    font-size: 17px;

}

partner
.site-content > .site-item > .site-title > a {
    color: #000;
}

.card-person__content__name {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.card-person__content__title {
    color: #0A043C;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/*a:hover{*/
/*    color: red !important;*/
/*}*/

section.gallery {
    background-color: #F4F4F4 !important;
}

.gallery-bg {
    background-color: #F4F4F4;
}

.gallery-title {
    margin-bottom: 64px;
}

.photo {
    height: 230px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px 0;
    transition: 0.3s;
}

.photo:hover {
    transform: scale(1.03);
}

.photo > .photo-area {
    width: 100%;
    height: 100%;
    background: rgba(10, 4, 60, 0.7);
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.photo > .photo-area:hover {
    opacity: 0.9;
}

section.vids {
    background-color: #f4f4f4;
    padding-top: 0 !important;
}

.video-detail__title {
    margin-bottom: 64px;
}

.vids-wrapper {
    padding: 0 15px;
}

.video-detail__item {
    height: 230px;
    width: 500px !important;
    background-image: url('../img/about.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px 0;
    transition: 0.3s;
    margin-bottom: 64px;
}

.vids-title {
    margin-bottom: 64px;
}

.vids-item {
    height: 230px;
    width: 100%;
    background-image: url('../img/about.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px 0;
    transition: 0.3s;
    margin-bottom: 64px;
}

.vids-item:hover {
    transform: scale(1.03);
}

.vids-item > .photo-area {
    width: 100%;
    height: 100%;
    background: rgba(10, 4, 60, 0.7);
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vids-item > .photo-area:hover {
    opacity: 0.9;
}

.vids-item > .photo-area > i {
    font-size: 34px;
    color: #fff;
}

.partner-title {
    margin-bottom: 64px;
}

.dropdown-content {
    text-align: left;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 100%;
    top: 80%;
    display: none;
    animation-name: dropdown;
    animation-duration: .7s;
}

@keyframes dropdown {
    from {
        transform-origin: top center;
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform-origin: top center;
        opacity: 1;
        transform: translateX(0px);
    }
}

.dropdown-content:hover {
    display: block;
}

.menu-item > .menu-item__dropdown li:hover .dropdown-content {
    display: block;
}

section.partner {
    background-color: #0A043C;
}

.partner-title > h2 {
    color: #fff !important;
}

.partner-content {
    position: relative !important;
    overflow: hidden;
    padding: 0 40px;
}

.partner-content > .partner-swiper > .swiper-wrapper > .swiper-slide > img {
    margin-bottom: 120px;
}

.button-swip {
    top: 30% !important;
}


.contact-form {
    border: 2px solid #E5E5E5;
    width: 70%;
    margin-bottom: 16px;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 100px !important;
}

.form-btn {
    width: 70% !important;
}

.contact-title {
    margin-bottom: 64px;
}


footer.footer {
    background-color: #0A043C;
    color: #fff;
}

.footer-top {
    padding: 120px 0;

}

.block-top__text {
    margin-bottom: 40px !important;
    text-transform: capitalize !important;
}

.prod-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.25) !important;
    margin: 20px auto !important;
    transition: all .7s ease-in-out;
}

.prod-card .prod-card__img {
    width: 100% !important;
    height: 308px !important;
}
.prod-card .prod-card__img img {
    width: 100%;
    height: 308px;
}

.prod-card:hover {
    transition: all .7s;
    box-shadow: 10px 10px 10px #888 !important;
    cursor: pointer;
    transform: translateY(-.66667rem);
}
.prod-card h4 {
    font-size: 16px;
}

.footer-bottom {
    text-align: center;
    background-color: #03506F;
    padding: 10px 0;
    font-size: 14px;
}

.block-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.block-line {
    width: 5px;
    height: 150px;
    background-color: #03506F;
}

.block-bottom > .block-bottom__content {
    margin-left: 10px;
}

.block-bottom > .block-bottom__content > ul {
    margin: 0;
    padding: 0;
}

.block-bottom > .block-bottom__content > ul > li {
    list-style: none;
    margin-bottom: 5px;
}

.block-bottom > .block-bottom__content > ul > li > a {
    color: #fff;
}

.block-bottom__content__header {
    color: #03506F;
}

.image-products {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 3%;
}

.pagers {
    margin-top: 64px;
}

.news-content > .row {
    margin-bottom: 32px;
}

.news-detail__img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    margin-bottom: 16px;
}

.news-detail__title > h3 {
    margin: 0;
}

.news-detail__title__line {
    width: 100px;
    height: 1px;
    background-color: #ccc;
    margin: 8px 0 16px;
}

.view-block {
    color: #acacac;
}

.news-detail__social {
    border-top: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
    padding: 20px 0;
    margin-top: 64px;
}

.news-date {
    color: #acacac;
    margin-bottom: 16px;
}

.menu_active {
    color: red !important;
    position: relative;
}

.default_menu {
    color: #000;
}

.nav-link {
    color: black !important;
}

.menu-item__dropdown {
    position: absolute;
    top: 140px;
    z-index: 10;
    text-align: left;
}

.menu-item__dropdown > ul > li {
    background-color: #fff;
    padding: 4px;
}

.menu-item__dropdown > ul > li {
    position: relative;
}

.first-item:hover {
    background-color: #ccc;
    border-color: #ccc;
}

.second-item:hover {
    background-color: #ccc;
    border-color: #ccc;
}

.menu-item .menu-item__dropdown {
    transition: 0.25s;
    transform: scaleY(0);
    transform-origin: top;
}

.menu-item:hover .menu-item__dropdown {
    transition: 0.25s;
    transform: scaleY(1);
}


.img-gallery {
    height: 230px !important;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    transition: 0.3s;
}

input::placeholder {
    color: #a9a9a9;
}

/*.accordion .card {*/
/*    box-shadow:0 0 10px -5px rgba(0, 0, 0, 0.25) !important;*/
/*    padding: 0!important;*/
/*}*/

.sidebar-category {
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.25) !important;
}

.card-detail {
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.15) !important;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
}

.detail-title {
    text-transform: capitalize;
    font-size: 30px;
    text-align: left;
    margin-bottom: 15px;
}

.h4 {
    margin-top: 10px;
    font-weight: bold !important;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.h4 a {
    color: black;
}

.col-md-4 .prod-card p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
}

.card-detail .col-md-6 img {

}

.product-title {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

.img-gallery .photo-area {
    width: 100%;
    height: 100%;
    background: rgba(10, 4, 60, 0.7);
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.img-gallery > .photo-area:hover {
    opacity: 0.9;
}

.header-top__lang > ul > li.lang_active > a {
    color: red;
}

.dropdown-content .dropdown-item {
    margin: 5px 0;
    width: 95%;
}

.dropdown-content {
    text-align: left;
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 100%;
    top: 0;
    display: none;
    animation-name: dropdown;
    animation-duration: .7s;
}

.header__menu {
    background-color: #0A043C;
    overflow-y: scroll;
}

.menu-media__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-top: 55px;
    padding: 33px 15px;
}


.header-bottom__menu__media ul {
    list-style-type: none;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
}

.header-bottom__menu__media ul li {
    padding: 12px;
    background-color: white;
    margin: 10px auto;
}

.header-bottom__menu__media ul li a {
    color: #0A043C;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;

}

.header_bottom_hamburger span {
    cursor: pointer;
    content: "";
    background-color: #fff;
    position: absolute;
    top: 22px;
    right: 10px;
    width: 33px;
    height: 3px;
    display: block;
    transform: rotate(45deg);
}

.header_bottom_hamburger span:nth-child(2) {
    transform: rotate(-45deg);
}

.menu-media__dropdown {
    display: none;
}

.header__menu-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__menu-social li {
    border-radius: 100%;
}

.menu-media__dropdown.menu-media__dropdown_active {
    display: block;
}

.header-bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-bottom__menu ul li {
    position: relative;
}

.header-bottom__menu ul li a:focus,
.header-bottom__menu ul li a:hover,
.header-bottom__menu ul li a:active {
    color: red;
}


.header-bottom__menu .header-bottom__dropdown {
    display: none;
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    animation-name: dropdown__menu;
    animation-duration: .7s;
    transition: 0.25s;
    transform-origin: top;
    width: 256px;
    z-index: 9;
    text-align: right;
    left: -90px;
    right: 0;
}

@keyframes dropdown__menu {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

.header-bottom__menu ul li:hover ul {
    display: block;
}

.site-content > .site-item > .site-title {
    transition: 0.3s all;
}

.site-content > .site-item:hover > .site-title {
    color: #003af6;
}

.header__menu {
    background-color: #0A043C;
    overflow-y: scroll;
}

.menu-media__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-top: 55px;
    padding: 33px 15px;
}


.header-bottom__menu__media ul {
    list-style-type: none;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
}

.header-bottom__menu__media ul li {
    padding: 12px;
    background-color: white;
    margin: 10px auto;
}

.header-bottom__menu__media ul li a {
    color: #0A043C;
    text-decoration: none;
    font-weight: 600;

}

.header_bottom_hamburger span {
    cursor: pointer;
    content: "";
    background-color: #fff;
    position: absolute;
    top: 22px;
    right: 10px;
    width: 33px;
    height: 3px;
    display: block;
    transform: rotate(45deg);
}

.header_bottom_hamburger span:nth-child(2) {
    transform: rotate(-45deg);
}

.menu-media__dropdown {
    display: none;
}

.header__menu-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__menu-social li {
    border-radius: 100%;
}

.menu-media__dropdown.menu-media__dropdown_active {
    display: block;
}

.header-bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom__menu ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}

.header-bottom__menu ul li a {
    color: #000 !important;
    padding: 10px;
    transition: all .3s;
}

.header-bottom__menu ul li {
    position: relative;
}

.header-bottom__menu ul li a:focus,
.header-bottom__menu ul li a:hover,
.header-bottom__menu ul li a:active {
    color: red !important;
}


@keyframes dropdown__menu {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

.header-bottom__menu ul li:hover ul {
    display: block;
}

.header-bottom__menu .header-bottom__dropdown li {
    background-color: #0A043C;

}

.header-bottom__menu .header-bottom__dropdown li a {
    display: block;
    transition: ease .3s;
    color: #fff !important;
    border: 1px solid transparent;

}

.header-bottom__menu .header-bottom__dropdown li:hover a {
    color: black !important;
    transition: ease .5s;
    background-color: #fff;
    border: 1px solid #0A043C;
}

.header-bottom__menu .header-bottom__dropdown li .mini__menu {
    list-style-type: none;
    padding-left: 0;
    display: none;
    padding: 0;
    right:0;

}

.header-bottom__menu .header-bottom__dropdown li .mini__menu a {
    background-color: #0A043C;
    color: #fff !important;
    text-align: left;
}

.header-bottom__menu .header-bottom__dropdown li .mini__menu a:hover {
    background-color: #fff;
    color: #0A043C !important;
    transition: all .5s;
}

.header-bottom__menu .header-bottom__dropdown li:hover .mini__menu {
    animation: mini__menu .5s ease-in-out;
    display: block;
    position: absolute;
    right: 100%;
    width: 252px;
    top: 0;
 }

.menu-meida__dropdown-inside {
    display: none;
}

.menu-meida__dropdown-inside_active {
    display: block;
    animation: inside 1s ease;
    transform-origin: top;
}

.menu-media__dropdown.menu-media__dropdown_active {
    display: block;
    animation: inside 1s ease;
    transform-origin: top;
}

@keyframes inside {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes mini__menu {
    from {
        opacity: 0;
     }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    to {
        opacity: 1;
     }
}

.icon_rotate {
    transform: rotate(90deg);
    transition: all .3s;
}

/*table_style_start*/

table {
    width: 100%;
    overflow-x: auto;
    text-align: center;
    margin: 20px auto;
}

table tr {
    padding: 10px;
    border: 1px solid #0A043C;
}

table th {
    padding: 10px;
    border: 1px solid #0A043C;
}

table td {
    padding: 10px;
    border: 1px solid #0A043C;
}

/*table_style_end*/


/*MEGA MENU*/
.mega__menu {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: .9;
    text-align: center;
    right: -101%;
    transition: all .5s;
}

.mega__menu_active {
    right: 0;
}

.mega-menu__closer {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.mega-menu__closer::after,
.mega-menu__closer::before {
    content: "";
    width: 35px;
    height: 4px;
    display: block;
    background-color: #090438;
    transform: rotate(50deg);
    margin-top: -4px;

}

.mega-menu__closer {
    cursor: pointer;
}

.mega-menu__closer::before {
    transform: rotate(-50deg);
}


.mega-menu__hamburger span {
    content: "";
    display: block;
    width: 35px;
    height: 4px;
    background-color: #0a043a;
    margin: 4px auto;
}

.mega-menu__hamburger {
    cursor: pointer;
}


.partner-swiper {
    padding: 0 0 74px;
}

footer .header-bottom__logo img {
    width: 175px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
}

footer .header-bottom__logo span {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 1.3em;
}

.dst-link a,
.dst-link a:hover {
    transition: .25s;
    color: #ffba00;
}

.vids-content .swiper-container-pointer-events {
    padding: 0 0 30px 0;
}

@media (min-width: 768px) {
    .foot .col-lg-3 {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    section#contact.res-contact-form {
        margin-top: 40px;
    }

    .foot .block-line {
        display: none;
    }

    .foot {
        justify-content: center;
        text-align: center;
    }

    .foot .block-bottom {
        justify-content: center;
    }

    .foot .header-top__social {
        justify-content: center !important;
    }

    .foot .col-md-4 {
        margin: 8px 0 !important;
    }

    .foot .block-top__text {
        margin-bottom: 7px !important;
    }
}

.site-content > .site-item {
    margin-bottom: 10px;
}

section#site {
    background-color: #f4f4f4;
}

section#contact {
    padding-top: 100px !important;
}

.header-bottom__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__descr {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height: 26px;
}

.header__descr span:nth-child(1) {
    color: #0A043C;
    font-size: 20px;
    font-weight: bolder;
}

.header__descr span:nth-child(2) {
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    color: red;
    letter-spacing: 4px;
}

.header-bottom__flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
