{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'News' %} | {% trans 'Parranda industry ' %}{% endblock title %}

{% block content %}

    <section class="static">
        {% if static.image %}
            <div class="static-img"
                 style="background-image: url('{{ static.image.url }}');">
                <div class="static-content__bg"><h2 class="static-content__title">{{ static.title }}</h2>
                </div>
            </div>
        {% endif %}
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-9">
                    <div class="static-content">
                        <div class="static-content_description table-responsive">
                            <p>{{ static.content|safe }}</p>
                        </div>
                        <span class="view-block"><i class="fas fa-eye mr-2"></i>{{ static.view_count }}</span>
                    </div>
                </div>
                <div class="static-sidebar col-md-3">
                    {% for new in news %}
                        <div class="static-card">
                            <div class="static-card__img"
                                 style="background-image: url('{{ new.main_image.url }}'); "></div>
                            <div class="static-card__content">
                                <div class="static-card__content__title">
                                    {{ new.title }}
                                </div>
                                <div class="static-card__content__link d-flex justify-content-between align-items-center">
                                    <a
                                            href="{% url 'main:post_detail_url' LANGUAGE_CODE new.id %}"
                                            class="">+ {% trans 'Read more' %}</a><span class="view-block"><i
                                        class="fas fa-eye mr-2"></i>{{ new.view_count }}</span></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}


{% block custom_style %}
    <style>
        .static {
            padding: 0 !important;
        }

        a {
            text-decoration: none;
        }

        .view-block {
            color: #acacac;
        }

        .static-img {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 350px;
            border-radius: 10px;
            margin-bottom: 32px;
            text-align: center;
            text-transform: uppercase;
        }

        .static-content {
            background: #FFFFFF;
            box-shadow: 0 0px 4px rgba(0, 0, 0, .25);
            border-radius: 10px;
            padding: 30px 30px !important;
            margin-bottom: 32px;
        }

        .static-content__bg {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .static-card {
            border-radius: 10px;
            border: 2px solid #03506F;
            font-size: 14px;
            margin-bottom: 16px;
        }

        .static-card__content {
            padding: 15px;
        }

        .static-card__content__link > a {
            color: #03506F;
        }

        .static-card__content__link > a:hover {
            color: #03506F;
            text-decoration: underline;
        }

        .static-card__content__title {
            margin-bottom: 16px;
        }

        .static-card__img {
            background-size: cover;
            width: 100%;
            height: 200px;
            margin-bottom: 8px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }


        @media print {
            .home {
                display: none;
            }
        }
    </style>
{% endblock %}
