{% extends 'base/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Videos' %} | {% trans 'Parranda industry' %}{% endblock title %}
{% block og_title %} {% trans 'Videos' %} {% endblock og_title %}

{% block content %}
{#<section id="home" class="home d-flex justify-content-center align-items-end" style="background-image: url('../../static/img/home.png');">#}
<section id="home" class="home d-flex justify-content-center align-items-end" style="background-image: url('{% static "img/home.png" %}');">
    <div class="container">
        <div class="home-title">
            <h1>Videos</h1>
        </div>
    </div>
</section>
    <section class="video-detail">
        <div class="container">
            <div class="video-detail__title">
                <h2 class="section-title">{% trans 'Video' %}</h2>
                <div class="underline"></div>
            </div>
            <div class="vids-wrapper row">
                       {% for video in videos %}
                        <!-- Slides -->
                        <div class="swiper-slide col-md-6">
                            <iframe class="res-iframe" width="100%" height="230" src="https://www.youtube.com/embed/{{ video.video }}"
                                    frameborder="0"
                                    allow="accelerometer;
autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    {% endfor %}
{#                <div class="row justify-content-around">#}
{#                    <div class="video-detail__item vids-item"><a href="https://youtube.com"#}
{#                                                                 style="text-decoration: none" class="photo-area"><i#}
{#                            class="fas fa-play"></i></a></div>#}
{#                    <div class="video-detail__item vids-item"><a href="https://youtube.com"#}
{#                                                                 style="text-decoration: none" class="photo-area"><i#}
{#                            class="fas fa-play"></i></a></div>#}
{#                </div>#}

                {% if is_paginated %}
                    <div class="pagers text-center mx-auto" role="toolbar" aria-label="Toolbar with button groups">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" type="button"
                               class="btn btn-danger mr-3">{% trans 'Prev' %}</a>
                        {% endif %}
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <a class="btn btn-danger">{{ i }}</a>
                                {% else %}
                                    <a href="?page={{ i }}" class="btn btn-outline-danger">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"
                               class="btn btn-danger ml-3">{% trans 'Next' %}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
    </section>

{% endblock content %}